/*  fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*  common style utilities  */
body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
    margin: 50px 100px;
    border: 50px, 50px;
    border-radius: 20px;
    padding-left: 156px;
    background: black;

}

h1 {
    font-size: 3em;
    color: white;
}
.header-par {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.link-button {
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 40px;
    color: white;
    font-weight: 500px;
    border-radius: 5px;
    width: 200px;
}

a:hover {
    background-color: chartreuse;
}

.banner {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 70%;
}

#banner-hover:hover {
    transform: scale(1.3) rotate(25deg);
    transition: transform 3s ease-in-out;
}


/* --------------Transfer ---------- */
aside {
    width: 20%;
    margin-right: 25px;
    float: left;
    border-radius: 10px;
}
.topnav {
    background-color: black;
    overflow: hidden;
    width: 80%;
    border-radius: 10px;

  }
  
  /* Style the links inside the menu */
  .topnav a {
    float: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav a.blog {
    background-color: red;
    color: white;
  }
  
  
  .topnav .icon {
    display: none;
  }
  

.blog-img{
    width: 100%;
}

.container {
    text-align:left;
    margin: 10px 10px;
    border: 1px solid;
    border-radius: 15px;
}
.transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2px;
}

footer{
    padding-top: 50px;
    height: 200px;
    background-color: black;
    text-align: center;
}
#footer-heading{
    color: white;
}
#footer-par{
    display: flex;
    justify-content: center;
}
.footer-font {
    color: white;
    padding-right: 30px;
}
.fa-brands{
    color: #DD0000;
    font-size: 3em;
    padding-right: 20px;
}

/*--------------------
     Media Queris
-------------------*/

/* Mobile Device */
@media only screen and (max-width:576px){
    .banner {
        width: 100%;
    }
    .transfer{
    grid-template-columns: repeat(1, 1fr);
        }
    }

    /* Tablet Devices */
@media only screen and (min-width:577px) and (max-width:992px){
    .transfer{
        grid-template-columns: repeat(2, 1fr);
            }

}

